
@{
    ViewBag.Title = "Help";
}

<h2>Help</h2>
<table style="width: 80%;" border = "1" cellpadding="10" align="center">
    <tbody>
        <tr>
            <td style="font-size: large">Question</td>
            <td style="font-size: large">Answer</td>
        </tr>
        <tr>
            <td>How to create a new item?</td>
            <td>Above the table list will be a link titled 'Create'.</td>
        </tr>
        <tr>
            <td>How to edit an existing item?</td>
            <td>Click on the Edit label, next to the item.</td>
        </tr>
        <tr>
            <td>How to delete an existing item?</td>
            <td>Click on the Delete label, next to the item.</td>
        </tr>
    </tbody>
</table>
